@model IEnumerable< MvcMovie.Models.Movie>
@{
    ViewData["Title"] = "Homepage Movie";
}

<h4> All Movie </h4>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(m=>m.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(m=>m.Price)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m=>movie.Id)</td>
                    <td>@Html.DisplayFor(m=>movie.Title)</td>
                    <td>@Html.DisplayFor(m=>movie.ReleaseDate)</td>
                    <td>@Html.DisplayFor(m=>movie.Genre)</td>
                    <td>@Html.DisplayFor(m=>movie.Price)</td>
                    <td>
                        <a class="btn btn-primary">รายละเอียด @(movie.Title)</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>